
body > header, footer {
    text-align: center;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

audio {
    width: 100%;
}

